<div class="event-map-canvas">
  <div class="graph-lines">
    <svg width="100%" height="100%" preserveAspectRatio="none">
      <ng-container *ngFor="let e of displayEdges">
        <line [attr.x1]="getX(e.from) + '%'" [attr.y1]="getY(e.from) + '%'"
          [attr.x2]="getX(e.to) + '%'" [attr.y2]="getY(e.to) + '%'"
          stroke-linecap="round" stroke-dasharray="4 4"></line>
      </ng-container>
    </svg>
  </div>

  <ng-container *ngFor="let n of displayNodes">
    <div class="graph-node" [style.left]="toPxX(n.layout.x)" [style.top]="toPxY(n.layout.y)">{{ n.id === 'start' ? '🏁' : n.id === 'end' ? '🎯' : '◯' }}</div>
  </ng-container>
</div>
